@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@600&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
  
box-shadow: -5px 10px 8px #888888;
border-radius: 18px;
    width: 300px;
    height: 500px;
    margin:50px auto;

    background: rgba(231, 225, 225, 0.2);
}
.photo_add{
    width: 299px;
    height: 360px;
    display: flex
}
.img{
    width: 200px;
    height: 250px;
    margin-top: 20px;
    margin-left: 50px;
}
.bx{
    height: 46px;
    width: 46px;
    margin-top: 20px;
    margin-left: -20px;
    cursor: pointer;
    color: green;
    font-size: 50px;
    
}
h3{
    display: none;
}
.bx:hover{
    color: #f9bf3b;
    transform: translateY(-5px);

}
.bx:active {
    color: #4A4A4A;
    transform: translateY(0px);
   
    border-radius: 50%}
.cost{
    font-family: 'Work Sans', sans-serif;
    font-size: 30px !important;
   margin-left: 40px;
}

.lc{
    color: #6f6666;
}
.link a {
    font-size: 23px !important;
    text-decoration: none;
}
.link{
    margin-left: 40px;
    padding-top: 15px;
}